*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,body{
  height: 100%;
  width: 100%;
  color: #fff;
}

main{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: black;
}

/* .box{
  height: 100%;
  width: 100%;
 
} */

.move{
  height: 200px;
  width: 200px;
  background-color: azure;
  border-radius: 20px;
  background: linear-gradient(to right,rgb(6, 25, 120),rgba(55, 167, 237, 0.74));
}

button{
  padding: 10px;
  border: none;
  color: #fff;
  border-radius: 10px;
  background:linear-gradient(rgba(0, 0, 255, 0.669),rgb(215, 32, 32));
  cursor: pointer;
}