*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.first,.second,.third{
  height: 100vh;
  width: 100%;
}
.first{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;;
}
.second{
  display: flex;
  align-items: center;
  position: relative;
  background-color: brown;
}
.second h1{
  font-size: 500px;
}
.third{
  background-color: blueviolet;
}