*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  height: 100%;
  width: 100%;
  background: url('https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2t5fGVufDB8fDB8fHww') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

main{
  position: relative;
}
header{
  position: relative;
  height: 70px;
  width: 100%;
}
nav{
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
}
nav h1{
  flex: 1;
  color: #fff;
  letter-spacing: 1px;
}
nav div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 30px;
  width: 40px;
  cursor: pointer;
}
span{
  display: inline-block;
  background-color: #fff;
  height: 5px;
  width: 100%;
  border-radius: 5px;
}
.section1{
  position: absolute;
  top: 0%;
  right: -40%;
  width: 40%;
  height: 100vh;
  padding: 50px 30px;
  backdrop-filter: blur(10px);
  background-color: rgba(170, 167, 167, 0.66);
}
.cancle{
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
  cursor: pointer;
}
.cancle p{
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.menu{
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

