@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 20px;
  background-color: rgba(94, 25, 89, 0.523);
}
#blue_box,#green_box,#red_box,#white_box,#purple_box,#lightgreen_box{
  height: 100px;
  width: 100px;
  border-radius: 20px;
  margin-top: 20px;
}
#blue_box{
  background-color: rgb(17, 219, 219);
}
#green_box{
  background-color: rgb(17, 219, 34);
}
#red_box{
  background-color: rgb(230, 19, 19);
}
#white_box{
  background-color: #fff;
}
#purple_box{
  background-color: purple;
}
#lightgreen_box{
  background-color: lightgreen;
}
section{
  margin-top: 200px;
}

.box{
  display: flex;
  column-gap: 10px;
}
.pink_box{
  height: 50px;
  width: 50px;
  border-radius: 20px;
  margin-top: 20px;
}
.pink_box:nth-child(1){
  background-color: rgba(249, 5, 168, 0.215);
}
.pink_box:nth-child(2){
  background-color: rgba(249, 5, 168, 0.409);
}
.pink_box:nth-child(3){
  background-color: rgba(249, 5, 168, 0.671);
}
.pink_box:nth-child(4){
  background-color: rgba(249, 5, 168, 0.829);
}
.pink_box:nth-child(5){
  background-color: rgb(249, 5, 168);
}

